<div class="container-fluid">
  <div class="header">
    <a class="logo col-3" [routerLink]="['/homepage']" routerLinkActive="router-link-active">
      <img src="../../../assets/logo/Robosoft_logo_horizontal.png" alt="Robosoft Logo"
        srcset="../../../assets/logo/Robosoft_logo_horizontal.svg">
    </a>
    <div class="user-profile col-2" *ngIf="loginStatus" (click)="logout()">
      <p class="user-name">John Doe</p>
      <img
        src="https://cdn.fastly.picmonkey.com/contentful/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=200&q=70"
        alt="Profile Picture" class="user-image">
    </div>
  </div>
</div>
