<div class="container-fluid py-4 px-lg-5">
  <div class="row mx-0 mx-md-5">
    <div class="sidebar-container col-12 col-sm-12 col-md-4 col-lg-3 mb-4 mb-md-0 pr-md-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-9">
      <app-questionnaire></app-questionnaire>
      <div id="overlay" class="overlay">
        <button mat-fab aria-label="Menu Icon" (click)="isMenuOpen = !isMenuOpen; isOverlayOpen = !isOverlayOpen"
          type="button">
          <mat-icon>{{ isOverlayOpen ? 'close' : 'add'}}</mat-icon>
        </button>
        <div class="overlay-background" [ngClass]="{'transform' : isOverlayOpen}">&nbsp;</div>
        <div class="overlay-menu" *ngIf="isMenuOpen">
          <ul>
            <li>
              <button mat-raised-button class="overlay-menu-option" routerLink="/reset-password">Change
                Password</button>
            </li>
            <li>
              <button mat-raised-button class="overlay-menu-option" (click)="openModal('Super Admins')">Add/Remove
                Super
                Admins</button>
            </li>
            <li>
              <button mat-raised-button class="overlay-menu-option" (click)="openModal('Admins')">Add/Remove
                Admins</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Show Footer only on Homepage -->
<app-footer></app-footer>
