<div class="questionnaire row">
  <div class="questionnaire-form col-sm-8 pr-0 pr-sm-5">
    <form class="questionnaire-form-main" [formGroup]="MainQuestionnaire">
      <h2 class="questionnaire-form-title">Questionnaire</h2>
      <div class="mat-input-group">
        <mat-form-field appearance="outline">
          <mat-label>Enter Title</mat-label>
          <input matInput formControlName="Title">
          <mat-hint *ngIf="formSubmitted && MainForm.Title.errors?.required">Please enter appropriate Title</mat-hint>
        </mat-form-field>
      </div>
      <div class="mat-input-group">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="Description" rows="3"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="mat-input-group col-6">
          <mat-form-field appearance="outline">
            <mat-label>Button Title</mat-label>
            <input matInput formControlName="ButtonTitle">
            <mat-hint *ngIf="formSubmitted && MainForm.ButtonTitle.errors?.required">Please enter a Button Title
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="mat-input-group col-6">
          <mat-form-field appearance="outline">
            <mat-label>Button Text</mat-label>
            <input matInput formControlName="ButtonText">
            <mat-hint *ngIf="formSubmitted && MainForm.ButtonText.errors?.required">Please enter a Button Text
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="mat-input-group">
        <mat-form-field appearance="outline">
          <mat-label>Check Box Text</mat-label>
          <input matInput formControlName="CheckBoxText">
          <mat-hint *ngIf="formSubmitted && MainForm.CheckBoxText.errors?.required">Please enter a Check Box Text
          </mat-hint>
        </mat-form-field>
      </div>
    </form>
    <form class="questionnaire-form-additional" [formGroup]="AdditionalQuestionnaire">
      <h2 class="questionnaire-form-title">Additional Details</h2>
      <div class="row">
        <div class="mat-input-group col-4">
          <mat-form-field appearance="outline">
            <mat-label>Select Start Date</mat-label>
            <input matInput formControlName="StartDate" [min]="minDate" [max]="maxDate" [matDatepicker]="start">
            <mat-hint *ngIf="formSubmitted && AdditionalForm.StartDate.errors?.required">Please enter a Start Date
            </mat-hint>
            <mat-datepicker-toggle matSuffix [for]="start" class="input-suffix-date"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="mat-input-group col-4">
          <mat-form-field appearance="outline">
            <mat-label>Select End Date</mat-label>
            <input matInput formControlName="EndDate" [min]="minDate" [max]="maxDate" [matDatepicker]="end">
            <mat-hint *ngIf="formSubmitted && AdditionalForm.EndDate.errors?.required">Please enter an End Date
            </mat-hint>
            <mat-datepicker-toggle matSuffix [for]="end" class="input-suffix-date"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="mat-input-group col-4">
          <mat-form-field appearance="outline">
            <mat-label>Auto Reminder</mat-label>
            <input matInput formControlName="AutoReminder">
            <mat-hint *ngIf="formSubmitted && AdditionalForm.AutoReminder.errors?.required">Please enter an Auto
              Reminder</mat-hint>
            <span matSuffix class="input-suffix-days">Days</span>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="mat-input-group col-6">
          <mat-form-field appearance="outline">
            <mat-label>Select Content PPT File</mat-label>
            <ngx-mat-file-input [multiple]=false [accept]="'.ppt,.pptx'" formControlName="ContentPPT">
              <mat-icon ngxMatFileInputIcon class="input-suffix-file">cloud_upload</mat-icon>
            </ngx-mat-file-input>
            <mat-hint *ngIf="formSubmitted && AdditionalForm.ContentPPT.errors?.required">Please upload the Content PPT
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="mat-input-group col-6">
          <mat-form-field appearance="outline">
            <mat-label>Select Participant Excel Sheet</mat-label>
            <ngx-mat-file-input [multiple]=false [accept]="'.xls,.xlsx,.doc,.docx'" formControlName="ParticipantsList">
              <mat-icon ngxMatFileInputIcon class="input-suffix-file">cloud_upload</mat-icon>
            </ngx-mat-file-input>
            <mat-hint *ngIf="formSubmitted && AdditionalForm.ParticipantsList.errors?.required">Please upload the
              Participants List</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="mat-input-group mb-0">
        <mat-form-field appearance="outline">
          <mat-label>Mail Body</mat-label>
          <textarea matInput formControlName="MailBody" rows="4"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="questionnaire-controls col-sm-4 mt-sm-3">
    <button class="button-control" mat-button (click)="onSave()">
      <mat-icon>save</mat-icon>{{dataSaved ? 'Saved!' : 'Save'}}
    </button>
    <button class="button-control" mat-button>
      <mat-icon>preview</mat-icon>Preview
    </button>
    <button class="button-control" mat-button>
      <mat-icon>publish</mat-icon>Publish
    </button>
    <button class="button-control" mat-button>
      <mat-icon>add_alert</mat-icon>Remind
    </button>
    <button class="button-control" mat-button>
      <mat-icon>article</mat-icon>Generate Report
    </button>
  </div>
</div>
