<div class="sidebar p-3">
  <div class="sidebar-header my-md-4">
    <h1 class="sidebar-header-title">Your<br>Questionnaires</h1>
    <button class="sidebar-header-cta" mat-raised-button>New Questionnaire</button>
  </div>
  <div class="sidebar-body">
    <a mat-button class="sidebar-body-link" routerLinkActive="active" [routerLink]="['q1']" [routerLinkActiveOptions]="{exact: true}">
      <span class="col-11 col-sm-10">Secure Coding Guidel...</span>
      <!-- <mat-icon class="col-2" aria-label="Right Chevron Icon">chevron_right</mat-icon> -->
    </a>
    <a mat-button class="sidebar-body-link" aria-label="ISMS Questionnaire" routerLinkActive="active" [routerLink]="['q2']" [routerLinkActiveOptions]="{exact: true}">
      <span class="col-11 col-sm-10">ISMS Questionnaire</span>
      <mat-icon class="col-1 col-sm-2" aria-label="Right Chevron Icon">chevron_right</mat-icon>
    </a>
    <a mat-button class="sidebar-body-link" aria-label="ISMS Questionnaire" routerLinkActive="active" [routerLink]="['q3']" [routerLinkActiveOptions]="{exact: true}">
      <span class="col-11 col-sm-10">PA Questionnaire</span>
      <mat-icon class="col-1 col-sm-2" aria-label="Right Chevron Icon">chevron_right</mat-icon>
    </a>
    <a mat-button class="sidebar-body-link" aria-label="ISMS Questionnaire" routerLinkActive="active" [routerLink]="['q4']" [routerLinkActiveOptions]="{exact: true}">
      <span class="col-11 col-sm-10">Process Guidelines</span>
      <mat-icon class="col-1 col-sm-2" aria-label="Right Chevron Icon">chevron_right</mat-icon>
    </a>
  </div>
</div>
