<div class="container-fluid">
  <div class="container">
    <div class="form">
      <h2 class="form-title">Change Password</h2>
      <mat-form-field appearance="outline">
        <mat-label>Enter New Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Re - Enter New Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button mat-raised-button [routerLink]="['/login']" routerLinkActive="router-link-active">
        Update
      </button>
     
    </div>
    <button mat-icon-button class="close-button" aria-label="Dismiss" [routerLink]="['/login']"
      routerLinkActive="router-link-active">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
