@import '../../../variables';

.navbar {
  box-shadow: 0 0 8px 2px $black;
  background-color: $dark;
  font-weight: 700;

  .navbar-brand {
    flex-basis: 15%;
    text-align: center;

    &:hover {
      color: darken($white, 5%);
    }
  }

  .navbar-collapse {
    justify-content: space-evenly;
  }

  .search-form {
    flex: 0 0 50%;
    justify-content: flex-end;

    .search-box {
      color: $black;
      background-color: $light;
      font-weight: 700;
      border-radius: 5rem;
      padding: 0 2rem;
      width: 30%;
      border: none;
      outline: none;
      transition: all .3s ease-in-out;

      &:focus {
        border: none;
        width: 35%;
      }

      &::placeholder,
      &::-webkit-input-placeholder {
        color: lighten($primary,15%);
        font-weight: 500;
      }
    }

    .search-icon {
      background-color: transparent;
      color: lighten($primary,15%);
      font-weight: 600;
      border: none;
      overflow: hidden;
      width: 4rem;
      padding: 0;
      margin: 0;
      margin-left: -4rem;
      border-radius: 0 5rem 5rem 0;
      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: translateY(1px);
      }
    }

    .search-box:focus~.search-icon {
      color: $dark;
    }
  }

  .navbar-nav {
    flex: 0 0 auto;
    justify-content: center;

    .nav-item .nav-link {
      color: $white;
      display: inline-block;
      border-bottom: solid 2px transparent;
      padding: .5rem .5rem;
      margin: 0 .5rem;
      transition: all .3s;

      &:hover {
        color: $light;
        border-bottom: solid 2px $primary;
      }
    }
  }

  .form-control:focus {
    box-shadow: unset;
    border: none;
  }
}
