.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;

  .logo {
    display: flex;
    align-items: center;

    img {
      margin: 0 16px;
    }
  }

  .navigation {
    margin-right: 2rem;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0;

      li {
        margin: 0 2rem;

        a {
          transition: all .3s;
          display: inline-block;
          line-height: 1.4rem;
          padding: .7rem;

          &:link,
          &:visited,
          &:active {
            text-decoration: none;
            color: #e4e4e4;
          }

          &:hover {
            color: #e4e4e4;
            background-color: #09529b;
            border-radius: 5px;
            transform: scale(1.1) rotate(-10deg);
          }
        }
      }
    }
  }
}
