.mat-dialog-container {
  min-height: 13rem !important;
  height: 13rem !important;
  width: 28rem !important;
  border-radius: 2px !important;
  background-color: #FFFFFF !important;
  box-shadow: 0 3px 6px 0 #0000004d !important;
  padding: 2.5rem !important;
  transition: all .2s ease !important;

  @media screen and (max-width: 720px) {
    min-height: 8.5rem !important;
    height: 8.5rem !important;
    width: 17.5rem !important;
    box-shadow: 0 0 24px 0 #00000038, 0 24px 24px 0 #0000004d !important;
    padding: 1.5rem  !important;
    padding-bottom: 0 !important;
  }
}

.cdk-overlay-dark-backdrop {
  background: #00000080 !important;
}
