/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import './material';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}


.loading {
  color: #ffffff;
  position: absolute;
  top: 3.5rem;
  left: 2rem;
}
