<div class="modal-container">
  <mat-dialog-content id="modal-body">
    <button mat-icon-button class="close-button" aria-label="Dismiss" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
    <div class="form-add-user">
      <h2 mat-dialog-title>Add/Remove {{ userMode }}</h2>
      <div class="row">
        <mat-form-field appearance="outline" class="col-sm-6 col-md-3 pr-0">
          <mat-label>Enter Name</mat-label>
          <input matInput [(ngModel)]="newUser.name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-6 col-md-3 pr-0">
          <mat-label>Enter Employee Code</mat-label>
          <input matInput [(ngModel)]="newUser.employeeCode">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-12 col-md-4 pr-0 pr-md-3">
          <mat-label>Enter Mail ID</mat-label>
          <input matInput [(ngModel)]="newUser.mailID">
        </mat-form-field>
        <div class="col-12 col-md-1 d-flex justify-content-center">
          <button mat-fab (click)="userMode==='Admins' ? addNewAdmin() : addNewSuperAdmin()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="form-edit-user">
      <div class="row" *ngFor="let admin of adminList || superAdminList; let i = index;">
        <mat-form-field appearance="outline" class="col-sm-6 col-md-3 pr-0">
          <mat-label>Enter Name</mat-label>
          <input matInput [(ngModel)]="admin.name" [disabled]="!isEditable[i]">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-6 col-md-3 pr-0">
          <mat-label>Enter Employee Code</mat-label>
          <input matInput [(ngModel)]="admin.employeeCode" [disabled]="!isEditable[i]">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-12 col-md-4 pr-0 pr-md-3">
          <mat-label>Enter Mail ID</mat-label>
          <input matInput [(ngModel)]="admin.mailID" [disabled]="!isEditable[i]">
        </mat-form-field>
        <div class="col-6 col-md-1 d-flex justify-content-center">
          <button mat-fab (click)="editUser(i)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="col-6 col-md-1 d-flex justify-content-center">
          <button mat-fab (click)="deleteUser(admin.employeeCode)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions id="modal-actions" class="col-10 d-flex justify-content-end pr-3">
    <button mat-raised-button class="modal-button col-2 mr-3" (click)="updateUsersList()">Update</button>
    <button mat-raised-button class="modal-button col-2 mr-0" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
