* {
  box-sizing: unset !important;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;

  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    height: 5em;
    border-radius: 4px;
    border: solid 2px #8474dd;

    &:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .5em;
    }

    &.selected {
      background-color: #8474dd;
      color: rgb(252, 244, 244);

      &:hover {
        background-color: #BBD8DC;
        color: rgb(95, 74, 74);
      }
    }
  }

  .badge {
    font-size: small;
    color: white;
    padding: .5em;
    background-color: #405061;
    line-height: 2em;
    height: 2em;

    &-1 {
      display: inline-block;
      position: absolute;
      left: 0;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;

    }

    &-2 {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-left: .8em;
      border-radius: 0 4px 4px 0;
    }

    &-3 {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0 0 5px 5px;
      text-align: center;

    }
  }

  .name {
    display: inline-block;
    margin-left: 3em;
    line-height: 2.4em;
  }
}
