<ng-template #loading>
  <h3 class="loading" *ngIf="!error; else errorPage">Loading...</h3>
</ng-template>
<ng-template #errorPage>
  <app-no-data-found [message]="'Oops! There is some error. Please try again later'">
    <p style="cursor: pointer; height: 1.5rem; margin-top: 1rem;" (click)="onGoBack()">&larr; Go Back</p>
  </app-no-data-found>
</ng-template>
<div class="home" *ngIf="data && !error; else loading">
  <header class="home-header">
    <p class="home-header-location">{{data.city}}</p>
    <div class="home-wrapper" (click)="onFavoriteAdd(data)">
      <img class="home-header-icon" *ngIf="!isFavourite" src="assets/ic_heart/heart.svg" />
      <mat-icon class="home-header-icon" *ngIf="isFavourite" [ngClass]="{active: isFavourite}">favorite</mat-icon>
      <p class="home-header-favourite" [ngClass]="{active: isFavourite}">
        {{ isFavourite ? 'Added to Favourites': 'Add to favourite' }}</p>
    </div>
  </header>
  <main class="home-body">
    <div class="home-body-icon">
      <img [src]="getIcon(data.condition)" alt="conditions icon">
    </div>
    <div class="home-wrapper">
      <div class="home-body-value">{{data.main.temp | number:'2.0-0'}}</div>
      <div class="home-body-unit">
        <input type="checkbox" name="checkbox" id="checkbox" [formControl]="switchUnit">
        <label for="checkbox" class="switch" (click)="onSwitchUnit(data.main.temp)"></label>
      </div>
    </div>
    <p class="home-body-condition">{{data.condition | titlecase}}</p>
  </main>
  <footer class="home-footer">
    <ul class="home-footer-list">
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_temperature_info/icon_temperature_info.svg" alt="temperature icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min - Max</p>
            <p class="home-footer-value">
              {{data.main.temp_min | number:'2.0-0'}} {{switchUnit.value? '&deg;C': '&deg;F'}}
              -
              {{data.main.temp_max | number:'2.0-0'}} {{switchUnit.value? '&deg;C': '&deg;F' }}
            </p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_precipitation_info/icon_precipitation_info.svg" alt="precipitation icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Precipitation</p>
            <p class="home-footer-value">{{data.precipitation}}%</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_humidity_info/icon_humidity_info.svg" alt="humidity icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Humidity</p>
            <p class="home-footer-value">{{data.main.humidity}}%</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_wind_info/icon_wind_info.svg" alt="wind icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Wind</p>
            <p class="home-footer-value">{{data.wind}} mph</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_visibility_info/icon_visibility_info.svg" alt="visibility icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Visibility</p>
            <p class="home-footer-value">{{data.visibility}} mph</p>
          </div>
        </div>
      </li>
    </ul>
  </footer>
</div>
