<div class="home">
  <header class="home-header">
    <p class="home-header-location">Udupi, Karnataka</p>
    <div class="home-wrapper">
      <i>&hearts;</i>
      <p class="home-header-favourite">Add to favourite</p>
    </div>
  </header>
  <main class="home-body">
    <div class="home-body-icon">
      <img src="assets/ic_conditions/icon_mostly_sunny/icon_mostly_sunny.svg" alt="conditions icon">
    </div>
    <div class="home-wrapper">
      <div class="home-body-value">87</div>
      <div class="home-body-unit">
        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox" class="switch"></label>
      </div>
    </div>
    <p class="home-body-condition">Mostly Sunny</p>
  </main>
  <footer class="home-footer">
    <ul class="home-footer-list">
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_temperature_info/icon_temperature_info.svg" alt="temperature icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min-Max</p>
            <p class="home-footer-value">75&deg;-90&deg;</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_precipitation_info/icon_precipitation_info.svg" alt="precipitation icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Precipitation</p>
            <p class="home-footer-value">0%</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_humidity_info/icon_humidity_info.svg" alt="humidity icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Humidity</p>
            <p class="home-footer-value">47%</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_wind_info/icon_wind_info.svg" alt="wind icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Wind</p>
            <p class="home-footer-value">4 mph</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon">
            <img src="assets/ic_info/icon_visibility_info/icon_visibility_info.svg" alt="visibility icon">
          </div>
          <div class="home-footer-info">
            <p class="home-footer-label">Visibility</p>
            <p class="home-footer-value">12 mph</p>
          </div>
        </div>
      </li>
    </ul>
  </footer>
</div>
