.home {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 0;
  height: 100%;
  color: #ffffff;

  &-header {
    padding: 0 .625rem;
    position: absolute;
    top: 3rem;
    font-size: 1.25rem;
    line-height: 1.5rem;

    &-location {
      height: 1.5rem;
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: left;
      margin-bottom: 1.25rem;
    }

    &-favourite {
      height: 1.5rem;
      font-size: 13px;
      margin-left: .5rem;
    }

  }

  &-body {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
    color: #FFFFFF;

    &-icon {
      height: 4rem;
      width: 4rem;
      background-color: white;
      border-radius: 50%;
      margin: 0 auto 1rem;
    }

    &-value {
      height: 4.75rem;
      font-size: 4rem;
      line-height: 4.75rem;
      margin-right: .5rem;
      margin-bottom: .625rem;
    }

    &-condition {
      height: 1.5rem;
      font-size: 1.375rem;
      line-height: 1.5rem;
    }

    &-unit {
      .switch {
        position: relative;
        display: block;
        width: 3.25rem;
        height: 2rem;
        background: #a07ed3;
        border-radius: 2px;
        border: solid 1px #ffffff;
        cursor: pointer;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 1rem;
        letter-spacing: 0;

        &:before {
          content: "°C";
          position: absolute;
          top: 50%;
          left: 0;
          background: #a07ed3;
          color: #ffffff;
          transform: translateY(-50%);
          width: 50%;
          height: 100%;
          display: grid;
          place-items: center;
          border-radius: 0 2px 2px 0;
          transition: all 250ms ease;
        }

        &:after {
          content: "°F";
          color: #E32843;
          background: #ffffff;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 50%;
          height: 100%;
          display: grid;
          place-items: center;
          border-radius: 0 2px 2px 0;
          transition: all 250ms ease;
        }
      }

      #checkbox {
        display: none;
      }

      #checkbox:checked~.switch:before {
        content: "°C";
        left: 0%;
        background: #fff;
        color: #E32843;
        height: 100%;
        width: 50%;
        border-radius: 2px 0 0 2px;
      }

      #checkbox:checked~.switch:after {
        content: "°F";
        left: 50%;
        background: #a07ed3;
        color: #fff;
        height: 100%;
        width: 50%;
        border-radius: 0 2px 2px 0;
      }
    }
  }

  &-footer {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    padding: 0 .625rem;
    border-top: solid 1px #ffffff4d;

    &-list {
      width: 100%;
      height: 3rem;
      margin-top: 2.25rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      list-style: none;
      color: #FFFFFF;
      overflow: hidden;

      :last-child {
        margin-right: 0;
      }
    }

    &-item {
      margin-right: 3rem;
      height: 100%;
    }

    &-icon {
      height: 3rem;
      width: 2rem;
      margin-right: .625rem;
      background-color: white;
    }

    &-info {
      align-self: flex-start;
    }

    &-label {
      height: 1.25rem;
      font-size: 1rem;
      line-height: 1.25rem;
      margin-bottom: .5rem;
    }

    &-value {
      height: 1.5rem;
      font-size: 1.375rem;
      line-height: 1.5rem;
    }
  }

  &-wrapper {
    display: inline-flex;
    align-items: center;
  }
}
