<div class="home">
  <header class="home-header">
    <p class="home-header-location">Udupi, Karnataka</p>
    <div class="home-wrapper">
      <i>&hearts;</i>
      <p class="home-header-favourite">Add to favourite</p>
    </div>
  </header>
  <main class="home-body">
    <div class="home-body-icon"></div>
    <div class="home-wrapper">
      <div class="home-body-value">87</div>
      <div class="home-body-unit">
        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox" class="switch"></label>
      </div>
    </div>
    <p class="home-body-condition">Mostly Sunny</p>
  </main>
  <footer class="home-footer">
    <ul class="home-footer-list">
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon"></div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min-Max</p>
            <p class="home-footer-value">75&deg;-90&deg;</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon"></div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min-Max</p>
            <p class="home-footer-value">75&deg;-90&deg;</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon"></div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min-Max</p>
            <p class="home-footer-value">75&deg;-90&deg;</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon"></div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min-Max</p>
            <p class="home-footer-value">75&deg;-90&deg;</p>
          </div>
        </div>
      </li>
      <li class="home-footer-item">
        <div class="home-wrapper">
          <div class="home-footer-icon"></div>
          <div class="home-footer-info">
            <p class="home-footer-label">Min-Max</p>
            <p class="home-footer-value">75&deg;-90&deg;</p>
          </div>
        </div>
      </li>
    </ul>
  </footer>
</div>
