<ul class="table">
  <li class="table-item active">
    <p class="table-item-location">Udupi, Karnataka</p>
    <div class="wrapper">
      <img class="table-item-weather-icon" src="assets/ic_conditions/icon_mostly_sunny/icon_mostly_sunny.svg"
        alt="mostly sunny">
      <p class="table-item-value">31</p>
      <p class="table-item-unit">&deg;C</p>
      <p class="table-item-condition">Mostly Sunny</p>
    </div>
    <img class="table-item-fav-icon" src="assets/ic_favourite_active/icon_favourite_Active.svg" alt="&hearts;">
  </li>

  <li class="table-item">
    <p class="table-item-location">Bangalore, Karnataka</p>
    <div class="wrapper">
      <img class="table-item-weather-icon" src="assets/ic_conditions/icon_mostly_sunny/icon_mostly_sunny.svg"
        alt="mostly sunny">
      <p class="table-item-value">28</p>
      <p class="table-item-unit">&deg;C</p>
      <p class="table-item-condition">Rain</p>
    </div>
    <img class="table-item-fav-icon" src="assets/ic_favourite_active/icon_favourite_Active.svg" alt="&hearts;">
  </li>

  <li class="table-item">
    <p class="table-item-location">Mumbai, Maharashtra</p>
    <div class="wrapper">
      <img class="table-item-weather-icon" src="assets/ic_conditions/icon_mostly_sunny/icon_mostly_sunny.svg"
        alt="mostly sunny">
      <p class="table-item-value">32</p>
      <p class="table-item-unit">&deg;C</p>
      <p class="table-item-condition">Mostly Cloudy</p>
    </div>
    <img class="table-item-fav-icon" src="assets/ic_favourite_active/icon_favourite_Active.svg" alt="&hearts;">
  </li>
</ul>
