$primary:       #F83745ff;
$secondary:     #FF424Fff;
$light:         #D7D8D9ff;
$dark:          #2d363bff;
$gray:          #222B31ff;
$black:         #191C1Fff;
$white:         #ffffffff;
$yellow:        #e5f837ff;