$red-dark: #F83745ff;
$red-light: #FF424Fff;
$black: #191C1Fff;
$gray-dark: #222B31ff;
$gray-dark-2: #2d363bff;
$gray-light: #D7D8D9ff;
$white: #ffffffff;

$card-details-gradient: linear-gradient(to top, #191c1fd7 , #2d363bda );