.weather {
  background: url('../assets/background/background.svg') center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;

  &-wrapper {
    position: absolute;
    top: 9.5rem;
    left: 6rem;
    right: 6rem;
    height: calc(100vh - 10.625rem);
    width: calc(100vw - 12rem);
    padding: 0 1.5rem;

    @media screen and (max-width: 740px) {
      height: calc(85vh - 2.5rem);
      width: 100%;
      padding: 0;
      top: calc(15vh + 2.5rem);
      left: 0;
      right: 0;
    }
  }
}
